.headquarter-bg {
  position: relative;
}
.headquarter-bg::before {
  background: linear-gradient(90deg, #36c 6.67%, rgba(51, 102, 204, 0) 71.15%);
  content: "";
  z-index: 1;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.bg-gradient-1 {
  background: linear-gradient(
    106deg,
    rgba(102, 51, 153, 0.8),
    rgba(51, 102, 204, 0.8) 102.69%
  );
}

.bg-1 {
  background: rgba(51, 102, 204, 0.8);
}

/* Background app */
.main-dc-1::before {
  background: url(https://cinestar.com.vn/assets/images/mobile-blur-6.webp);
  filter: blur(10rem);
  left: 0;
  top: 180rem;
  transform: translateY(-20%);
  width: 65%;
}

.main-dc-1::after {
  background: #48479a;
  border-radius: 50%;
  filter: blur(10rem);
  left: 10%;
  top: 30rem;
  width: 1200px;
}
.main-dc-1::before,
.main-dc-1::after {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat !important;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: -3;
}

.main-dc-2::before {
  background: url(https://cinestar.com.vn/assets/images/mobile-blur-4.webp);
  filter: blur(10rem);
  left: 0;
  top: min(400rem, 400%);
}

.main-dc-2::after {
  background: url(https://cinestar.com.vn/assets/images/mobile-blur-5.webp);
  filter: blur(7rem);
  right: 0;
  top: min(400rem, 400%);
  transform: translateY(-20%);
}
.main-dc-2::before,
.main-dc-2::after {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat !important;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  width: 65%;
  z-index: -3;
}

.main-dc-3::before {
  background: url(https://cinestar.com.vn/assets/images/mobile-blur-6.webp);
  filter: blur(8rem);
  left: 0;
  top: 73%;
}

.main-dc-3::after {
  background: url(https://cinestar.com.vn/assets/images/mobile-blur-5.webp);
  filter: blur(10rem);
  right: 0;
  top: 88%;
  transform: translateY(-20%);
}
.main-dc-3::before,
.main-dc-3::after {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat !important;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  width: 65%;
  z-index: -3;
}
